* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v105_28 {
  width: 590px;
  height: 400px;
  background: rgba(237,234,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v105_31 {
  width: 148px;
  color: rgba(7,7,7,1);
  position: absolute;
  top: 50px;
  left: 166px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v105_41 {
  width: 148px;
  color: rgba(7,7,7,1);
  position: absolute;
  top: 215px;
  left: 71px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_32 {
  width: 335px;
  height: 44px;
  background: url("../images/v105_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 71px;
  overflow: hidden;
}
.v105_33 {
  width: 335px;
  height: 44px;
  background: rgba(209,203,193,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_34 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 94px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_42 {
  width: 335px;
  height: 44px;
  background: url("../images/v105_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 72px;
  overflow: hidden;
}
.v105_43 {
  width: 335px;
  height: 44px;
  background: rgba(209,203,193,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_44 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 59px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v105_35 {
  width: 335px;
  height: 40px;
  background: url("../images/v105_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 71px;
  overflow: hidden;
}
.v105_36 {
  width: 335px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_37 {
  width: 50px;
  color: rgba(125,115,115,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v105_38 {
  width: 335px;
  height: 40px;
  background: url("../images/v105_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 163px;
  left: 70px;
  overflow: hidden;
}
.v105_39 {
  width: 335px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_40 {
  width: 218px;
  color: rgba(125,115,115,1);
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
