<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container">
        
		<a class="navbar-brand" aria-current="page"  href="/">
			<img width="150" src="logo2.png" alt="logo" class="d-inline-block align-text-center"/>
        </a>
              
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto align-items-left">
                {{#if email}}
					<p class="nav-texts nav-space">Welcome {{user}}!</p> 
					<a class="nav-texts nav-space" href="/shop">Shop</a> 
             	   	<a class="nav-texts nav-space" href="/about">About Us</a> 
              		<a class="nav-texts nav-space" href="/gallery">Photo Gallery</a> 
                    <form class="nav-texts nav-space" action="/logout" method="post">
                        <button type="submit" id="logout">Logout</button>
                    </form>
                    <a class="nav-texts nav-space" href="/cart">
                    <img width="30" src="shopping-cart.png" alt="controller" class="d-inline-block align-text-center"/>
                </a> 
                {{else}}
					<a class="nav-texts nav-space" href="/shop">Shop</a> 
                	<a class="nav-texts nav-space" href="/about">About Us</a> 
               		<a class="nav-texts nav-space" href="/gallery">Photo Gallery</a> 	
                    <a class="nav-texts nav-space" href="/login">Login</a>
                {{/if}}
                          
                
            </div>
        </div>
     </div>
</nav>

