* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v46_4 {
    width: 100%;
    height: 1024px;
    background: rgba(254,255,253,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v46_62 {
    width: 433px;
    height: 130px;
    background: url("../images/v46_62.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 265px;
    left: 863px;
    overflow: hidden;
  }
  .v46_63 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 147px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_64 {
    width: 136px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 147px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v46_65 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 364px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v46_66 {
    width: 130px;
    height: 130px;
    background: url("../images/v46_66.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v46_41 {
    width: 433px;
    height: 130px;
    background: url("../images/v46_41.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 415px;
    left: 861px;
    overflow: hidden;
  }
  .v46_42 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 147px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_43 {
    width: 136px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 32px;
    left: 147px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v46_54 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 8px;
    left: 364px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v46_44 {
    width: 130px;
    height: 130px;
    background: url("../images/v46_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v46_67 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 585px;
    left: 863px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v46_69 {
    width: 103px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 585px;
    left: 1191px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v48_21 {
    width: 459px;
    height: 214px;
    background: url("../images/v48_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 265px;
    left: 114px;
    overflow: hidden;
  }
  .v48_7 {
    width: 238px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_2 {
    width: 459px;
    height: 44px;
    background: url("../images/v48_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v48_3 {
    width: 459px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_14 {
    width: 69px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_8 {
    width: 459px;
    height: 44px;
    background: url("../images/v48_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 0px;
    overflow: hidden;
  }
  .v48_9 {
    width: 459px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_15 {
    width: 228px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_10 {
    width: 211px;
    height: 44px;
    background: url("../images/v48_10.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 0px;
    overflow: hidden;
  }
  .v48_11 {
    width: 211px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_16 {
    width: 178px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_18 {
    width: 211px;
    height: 44px;
    background: url("../images/v48_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 247px;
    overflow: hidden;
  }
  .v48_19 {
    width: 211px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_20 {
    width: 178px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_22 {
    width: 459px;
    height: 214px;
    background: url("../images/v48_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 556px;
    left: 114px;
    overflow: hidden;
  }
  .v48_23 {
    width: 238px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_24 {
    width: 459px;
    height: 44px;
    background: url("../images/v48_24.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 0px;
    overflow: hidden;
  }
  .v48_25 {
    width: 459px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_26 {
    width: 275px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 5px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_27 {
    width: 459px;
    height: 44px;
    background: url("../images/v48_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 0px;
    overflow: hidden;
  }
  .v48_28 {
    width: 459px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_29 {
    width: 368px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_30 {
    width: 211px;
    height: 44px;
    background: url("../images/v48_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 0px;
    overflow: hidden;
  }
  .v48_31 {
    width: 211px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_32 {
    width: 178px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v48_33 {
    width: 211px;
    height: 44px;
    background: url("../images/v48_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 170px;
    left: 247px;
    overflow: hidden;
  }
  .v48_34 {
    width: 211px;
    height: 44px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
  }
  .v48_35 {
    width: 178px;
    color: rgba(125,115,115,1);
    position: absolute;
    top: 6px;
    left: 16px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  .v49_2 {
    width: 340px;
    height: 68px;
    background: url("../images/v49_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 807px;
    left: 915px;
    overflow: hidden;
  }
  .v49_3 {
    width: 340px;
    height: 68px;
    background: rgba(209,203,193,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v49_4 {
    width: 100px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 18px;
    left: 119px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v181_26 {
    width: 100%;
    height: 284px;
    background: url("../images/v181_26.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v181_27 {
    width: 100%;
    height: 175px;
    background: rgba(216,191,178,1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v181_28 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 344px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v181_29 {
    width: 96px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 1044px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v181_30 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 506px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v181_31 {
    width: 235px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 103px;
    left: 732px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v181_32 {
    width: 55px;
    height: 55px;
    background: url("../images/v181_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 1259px;
    overflow: hidden;
  }
  .v181_33 {
    width: 284px;
    height: 284px;
    background: url("../images/v181_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
  }
  