<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
        <link href="./gallery.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    
    <body>
        <div class="v76_5">
            <div class="v168_3"></div>
            <div class="v76_7"></div>
            <span class="v76_8">Photo Gallery</span>
            <div class="v96_23"></div>
            <div class="v168_8"></div>
            <span class="v168_9">Lorem Ipsum
    Our Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla eros et pharetra mattis. Mauris varius magna et justo imperdiet, sit amet imperdiet dui aliquam.</span>
            <span class="v169_10">See more.</span>
            <div class="v168_2"></div>
            <div class="v168_4"></div>
            <div class="v168_7"></div>
            <div class="v168_5"></div>
            <div class="v168_6"></div>
            <span class="v97_3">style my isla</span>
        </div>
    </body>
    </html>