* {
    box-sizing: border-box;
 }

body {
    font-family: Playfair Display;
    font-size: 14px;
    background: rgba(216,191,178,1);
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
    background: url("/images/product.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

}

/* Header Text */
.header-text {
    padding-left: 55vw;
    top: 22vh;
    color: rgba(255,255,255,1);
    position: relative;
    font-weight: Bold;
    font-size: 6vw;
    opacity: 1;
    text-align: center;
}

/* Photo Gallery Title */
.gallery-title {
    width: 100vw;
    color: rgba(12,12,12,1);
    position: relative;
    font-weight: Bold;
    font-size: 4vw;
    opacity: 1;
    text-align: center;
    top: 10vh;
}  

/* Frame */
.frame {
    height: 138vh;
    margin: 6vw;
    background: rgba(125,115,115,1);
    position: relative;

}

/* Big Image*/
.featured-img {
    padding: 3rem;
    width: 100%;
}

/* Big Image Text */
.featured-text {
    padding: 1rem;
    top: -33vh;
    width: auto;
    height: auto;
    margin: 0 3rem;
    background: rgba(125,115,115,0.6000000238418579);
    opacity: 1;
    position: relative;
}

.featured-name {
    margin: 0;
    font-weight: Bold;
    font-size: 3vw;
    position: relative;
}

.featured-desc {
    font-size: 1.5vw;
    color: rgba(12,12,12,1);
    opacity: 1;
    text-align: left;
    position: relative;
}
.featured-sm {
    color: rgba(12,12,12,1);
    font-weight: Bold;
    font-size: 1.5vw;
    opacity: 1;
    text-align: left;
    position: relative;
}

/* Photos */
.thumbnails {
    top: -30vh;
    margin: 0 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}

.thumbnails-img {
    width: 185px;
    height: 185px;
    
}

#thumbnail1 {
    background: url("/images/product.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

