/* NAVBAR */

.navbar {
    background: rgba(216,191,178,1);
}

.nav-texts {
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav-space {
    padding-right: 35px;
    margin-left: 25px;
}

a:hover {
    color:white;
    transition: 0.25s;
}


/* LOGIN */

/* Full-width input fields */
input[type=email], input[type=password] {
    font-family: Playfair Display;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    font-family: Playfair Display;
    background: rgba(216,191,178,1);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.logo {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
  font-family: Playfair Display;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background: rgba(237,234,229,1);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/* CART */

.product-picture {
    width: 143px;
    height: 120px;
    background: url("product.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 0px;
    overflow: hidden;
}

.cart-product {
    width: 323px;
    height: 126px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 136px;
    left: 35px;
    overflow: hidden;
}

.product-name {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 170px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.product-price {
    width: 103px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 26px;
    left: 162px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.checkout-btn {
    width: 340px;
    height: 68px;
    background: rgba(209,203,193,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    font-family: Playfair Display;
}

.total {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 888px;
    left: 35px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.money {
    width: 103px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 888px;
    left: 272px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_2 {
    width: 100%;
    height: 1024px;
    background: rgba(129,176,74,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v173_63 {
    width: 100%;
    height: 849px;
    background: url("../images/v173_63.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 0px;
    overflow: hidden;
  }
  .v8_2 {
    width: 100%;
    height: 849px;
    background: url("../images/v8_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v8_4 {
    width: 624px;
    color: rgba(255,249,249,1);
    position: absolute;
    top: 289px;
    left: 164px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v8_3 {
    width: 322px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 169px;
    left: 164px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v173_82 {
    width: 100px;
    height: 100px;
    background: url("../images/v173_82.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 548px;
    left: 243px;
    overflow: hidden;
  }
  .v173_83 {
    width: 100px;
    height: 100px;
    background: url("../images/v173_83.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 122px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v9_32 {
    width: 100%;
    height: 284px;
    background: url("../images/v9_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v9_33 {
    width: 100%;
    height: 175px;
    background: rgba(216,191,178,1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v9_35 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 344px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v105_29 {
    width: 96px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 518px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v9_36 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 506px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v76_33 {
    width: 235px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 103px;
    left: 732px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v9_37 {
    width: 55px;
    height: 55px;
    background: url("../images/v9_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 303px;
    overflow: hidden;
  }
  .v170_20 {
    width: 284px;
    height: 284px;
    background: url("../images/v170_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
  }
  