
* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v2_2 {
    width: 100%;
    height: 1024px;
    background: rgba(129,176,74,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v173_63 {
    width: 100%;
    height: 849px;
    background: url("../images/v173_63.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 0px;
    overflow: hidden;
  }
  .v8_2 {
    width: 100%;
    height: 849px;
    background: url("../images/v8_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v8_4 {
    width: 624px;
    color: rgba(255,249,249,1);
    position: absolute;
    top: 289px;
    left: 164px;
    font-family: Playfair Display;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v8_3 {
    width: 322px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 169px;
    left: 164px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 96px;
    opacity: 1;
    text-align: center;
  }
  .v173_82 {
    width: 100px;
    height: 100px;
    background: url("../images/v173_82.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 548px;
    left: 243px;
    overflow: hidden;
  }
  .v173_83 {
    width: 100px;
    height: 100px;
    background: url("../images/v173_83.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 648px;
    left: 122px;
    transform: rotate(-180deg);
    overflow: hidden;
  }
  .v9_32 {
    width: 100%;
    height: 284px;
    background: url("../images/v9_32.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v9_33 {
    width: 100%;
    height: 175px;
    background: rgba(216,191,178,1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    overflow: hidden;
  }
  .v9_35 {
    width: 85px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 344px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v105_29 {
    width: 96px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 518px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v9_36 {
    width: 149px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 104px;
    left: 506px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v76_33 {
    width: 235px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 103px;
    left: 732px;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v9_37 {
    width: 55px;
    height: 55px;
    background: url("../images/v9_37.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 303px;
    overflow: hidden;
  }
  .v170_20 {
    width: 284px;
    height: 284px;
    background: url("../images/v170_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 5px;
    overflow: hidden;
  }
  