* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
 }

 .shop-title {
    color: rgba(12,12,12,1);
    position: relative;
    font-family: Playfair Display;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}