<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
        <link href="./about.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    
    <body>
        <div class="v6_5">
            <div class="v76_34">
                <div class="v43_35"></div>
                <div class="v76_2">
                    <div class="v76_3"></div>
                    <span class="v76_4">Submit</span>
                </div>
                
                <div class="v43_37">
                    <span class="v43_36">Contact us</span>
                    <span class="v43_38">Email: terrasomething@gmail.com
                    Contact no.: 0942232323242
                    Address: 101 blaadsam st, adasda city</span>
                    <div class="v44_2"></div>
                    <div class="v44_3"></div>
                </div>
                
                <div class="v56_2">
                    <div class="v56_4">
                        <div class="v56_5"></div>
                        <span class="v56_6">Email</span>
                    </div>
                    
                    <div class="v56_7">
                        <div class="v56_8"></div>
                        <span class="v56_9">Mobile number (optional)</span>
                    </div>
                    
                    <div class="v56_10">
                        <div class="v56_11"></div>
                        <span class="v56_12">Name</span>
                    </div>
                        
                    <div class="v56_16">
                        <div class="v56_17"></div>
                        <span class="v56_18">Your Message</span>
                    </div>
                </div>
            </div>
            
            <div class="v81_46">
                <span class="v76_35">Advocacy and Collaborations</span>
                <div class="v172_5">
                    <div class="v170_21"></div>
                    <span class="v172_12">www.awdaeopdwad.com</span>
                    <span class="v172_4">Lorem Ipsum aslmsadoa sdmapokasddsasasasaasd</span>
                    <span class="v172_6">Our Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla eros et pharetra mattis. Mauris varius magna et justo imperdiet, sit amet imperdiet dui aliquam. </span>
                    <span class="v172_13">Read more</span>
                </div>
                
                <div class="v172_24">
                    <div class="v172_25"></div>
                    <span class="v172_26">www.awdaeopdwad.com</span>
                    <span class="v172_27">Lorem Ipsum aslmsadoa sdmapokasddsasasasaasd</span>
                    <span class="v172_28">Our Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla eros et pharetra mattis. Mauris varius magna et justo imperdiet, sit amet imperdiet dui aliquam. </span>
                    <span class="v172_29">Read more</span>
                </div>
                
                <div class="v172_30">
                    <div class="v172_31"></div>
                    <span class="v172_32">www.awdaeopdwad.com</span>
                    <span class="v172_33">Lorem Ipsum aslmsadoa sdmapokasddsasasasaasd</span>
                    <span class="v172_34">Our Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla eros et pharetra mattis. Mauris varius magna et justo imperdiet, sit amet imperdiet dui aliquam. </span>
                    <span class="v172_35">Read more</span>
                </div>
            </div>
            
            <div class="v81_47">
                <span class="v81_39">Ambassadors</span>
                <div class="v81_42"></div>
                <div class="v81_43"></div>
                <div class="v81_44"></div>
            </div>
            
            <div class="v81_45">
                <span class="v6_12">Our Mission</span>
                <span class="v6_13">Our Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla eros et pharetra mattis. Mauris varius magna et justo imperdiet, sit amet imperdiet dui aliquam. Curabitur egestas quis massa non fringilla. Quisque ultricies, turpis sit amet mollis efficitur, purus neque tincidunt libero, id rutrum ipsum nunc vitae nunc. Donec rutrum nisl erat, nec sodales mauris consectetur vitae. </span>
                <div class="v181_35"></div>
            </div>
            
            <div class="v81_53">
                <div class="v6_9"></div>
                <span class="v6_10">About Us</span>
                <span class="v81_48">Our Mission</span>
                <span class="v81_49">Advocacy and Collaborations</span>
                <span class="v81_50">Ambassadors</span>
                <span class="v81_51">Contact us</span>
            </div>
        </div>
    </body>
    </html>