<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
        <link href="./checkout.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    
    <body>
        <div class="v46_4">
            <div class="v46_62">
                <span class="v46_63">Lorem Ipsum</span>
                <span class="v46_64">Quantity: 1</span>
                <span class="v46_65">Php 500</span>
                <div class="v46_66"></div>
            </div>

            <div class="v46_41">
                <span class="v46_42">Lorem Ipsum</span>
                <span class="v46_43">Quantity: 1</span>
                <span class="v46_54">Php 500</span>
                <div class="v46_44"></div>
            </div>
            
            <span class="v46_67">Total:</span>
            <span class="v46_69">Php 1000</span>
            <div class="v48_21">
                <span class="v48_7">Contact Information:</span>
                <div class="v48_2">
                    <div class="v48_3"></div>
                    <span class="v48_14">Email</span>
                </div>
                
                <div class="v48_8">
                    <div class="v48_9"></div>
                    <span class="v48_15">Mobile number</span>
                </div>
                
                <div class="v48_10">
                    <div class="v48_11"></div>
                    <span class="v48_16">First name</span>
                </div>
                
                <div class="v48_18">
                    <div class="v48_19"></div>
                    <span class="v48_20">Last name</span>
                </div>
            </div>
            
            <div class="v48_22">
                <span class="v48_23">Shipping address</span>
                <div class="v48_24">
                    <div class="v48_25"></div>
                    <span class="v48_26">Street & House no.</span>
                </div>

                <div class="v48_27">
                    <div class="v48_28"></div>
                    <span class="v48_29">Apartment, condo, etc (optional)</span>
                </div>
                
                <div class="v48_30">
                    <div class="v48_31"></div>
                    <span class="v48_32">City</span>
                </div>
                
                <div class="v48_33">
                    <div class="v48_34"></div>
                    <span class="v48_35">Province</span>
                </div>
            </div>
            
            <div class="v49_2">
                <div class="v49_3"></div>
                <span class="v49_4">Continue</span>
            </div>
            
            <div class="v181_26">
                <div class="v181_27"></div>
                <span class="v181_28">Shop</span>
                <span class="v181_29">Login</span>
                <span class="v181_30">About Us</span>
                <span class="v181_31">Photo Gallery</span>
                <div class="v181_32"></div>
                <div class="v181_33"></div>
            </div>
        </div>
    </body>
    </html>