<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" />
        <link href="./register.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    
    <body>
        <div class="v104_3">
            <div class="v181_34"></div>
            <div class="v104_27">
                <div class="v104_4"></div>
                <span class="v104_26">Register</span>

                <div class="v104_23">
                    <div class="v104_24"></div>
                    <span class="v104_25">Submit</span>
                </div>
                
                <div class="v104_6">
                    <div class="v104_7"></div>
                    <span class="v104_8">Email</span>
                </div>
                
                <div class="v104_9">
                    <div class="v104_10"></div>
                    <span class="v104_11">Mobile number</span>
                </div>
                
                <div class="v104_12">
                    <div class="v104_13"></div>
                    <span class="v104_14">Name</span>
                </div>

                <div class="v104_19">
                    <div class="v104_20"></div>
                    <span class="v104_21">Password</span>
                </div>
            </div>
        </div>
    </body>
    </html>